/* 기본 스타일 */
html, body {
    width: 100%;
    height: 100%;
    background-color: white;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 마인드맵 컨테이너 */
.mm-container {
    position: relative;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.mindmap{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}
.main-topic {
    position: absolute;
    text-align: center;
    width: 18%;
    height: 9%;
    background-color: #808080FF;
    border-radius: 50%;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.sub-topic{
    position: absolute;
    text-align: center;
    width: 12%;
    height: 6%;
    background-color: blue;
    transform-origin: top left;
    border-radius: 50%;
    z-index: 2;
}
.subitem-container {
    position: relative; /* 기준점 역할 */
    top: 0%;
    left: 0%;
    width: 100%; /* 서브 토픽 크기에 맞춤 */
    height: 100%; /* 서브 토픽 크기에 맞춤 */
}
.subitem {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #ffcc00;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    color: white;
    font-weight: bold;
}
.connector {
    position: absolute;
    background-color: #A9A9A980; 
    height: 2px; 
    transform-origin: 0% 50%; /* 선의 회전 중심을 왼쪽으로 설정 */
    z-index: 1;
}